{% include 'admins/ad_header.html' %}


<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>

                <li>
                    <a href="#">Bus</a>
                </li>
                <li class="active">Add Bus</li>
            </ul><!-- /.breadcrumb -->
            </div>
            
        <div class="page-content">
            <div class="page-header">
                <h1>
                    Add Bus 
                    </h1>
            </div><!-- /.page-header -->




            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <form class="form-horizontal" method="post" name="myForm" enctype="multipart/form-data" action="">
                        {% include 'admins/messages.html' %}
                        {% csrf_token %}
                    
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Bus No </label>

                            <div class="col-sm-9">
                                <input type="text" name="bus_no" required id="form-field-1" placeholder="Bus No" class="col-xs-10 col-sm-5" />
                            </div>
                        </div>
                        
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Bus Type</label>
                            <div class="col-sm-9">
                                <select name="bus_type" class="col-xs-10 col-sm-5 " required>
                                     <option value="">Select...</option>
                                    {% for i in type %}
                                        <option value="{{i.id}}">{{i.Bus_type}}</option>
                                        {% endfor%}
                               
                                </select>
                                </div>

                        </div>
                        
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Source</label>

                            <div class="col-sm-9">
                                <input type="text" name="source" required  id="form-field-1" placeholder="Starting" class="col-xs-10 col-sm-5"  />
                            </div>
                        </div>

                        <div class="space-4"></div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Starting Time</label>

                            <div class="col-sm-9">
                                <input type="time" name="start_time" id="form-field-1" placeholder="Departire Time" required class="col-xs-10 col-sm-5"  />
                            </div>
                        </div>
                        
                        <div class="space-4"></div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Destination </label>

                            <div class="col-sm-9">
                                <input type="text" name="destination"  id="form-field-1" placeholder="Destination" required class="col-xs-10 col-sm-5"  />
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Arrival Time </label>

                            <div class="col-sm-9">
                                <input type="time" name="end_time" required id="form-field-2" placeholder=" Arrival Time" class="col-xs-10 col-sm-5"  />
                                </div>
                        </div>
                        <div class="space-4"></div>
                        
                        <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2"for="exampleInputFile">Image</label>
                        <input type="file" class="form-control-file" required  name="file" id="exampleInputFile"  required="required" >
                        </div>
                        
                        <div class="space-4"></div>
                        
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit" name="add">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Submit
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                        </form>
                        
                    </div><!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
</div><!-- /.main-content -->
<script>
    setTimeout(function(){
       if($('#msg').length>0){
          $('#msg').remove();
       }
    },2000)
 </script>

{% include 'admins/ad_footer.html' %}
