{% include 'admins/ad_header.html' %}

<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li>
								<a href="#">Bus</a>
							</li>
							<li class="active">Add Bus Type</li>
						</ul><!-- /.breadcrumb -->
						</div>
                        
					<div class="page-content">
						<div class="page-header">
							<h1>
								Add Bus Type
								</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" method="post" action="bustype">
                                    {% include 'admins/messages.html' %}
                                    {% csrf_token %}
								
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > Bus Type </label>

										<div class="col-sm-9">
											<input type="text" required name="bus_type"  required id="form-field-1" placeholder="Bus Type" class="col-xs-10 col-sm-5" />
										</div>
									</div>
									
									<div class="space-4"></div>

									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit" name="add">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Submit
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												Reset
											</button>
										</div>
									</div>
									</form>
									
								</div><!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
			</div><!-- /.main-content -->
            <script>
                setTimeout(function(){
                   if($('#msg').length>0){
                      $('#msg').remove();
                   }
                },2000)
             </script>

{% include 'admins/ad_footer.html' %}
