{% include 'user/u_header.html' %}
{% include 'user/sidebar.html' %}
<div class="col-md-8">
    <div class="Compose-Message">               
        <div class="panel panel-success">
            <div class="panel-heading">
                Enter the Details  </span>
            </div>
            <form class="form-horizontal" method="post"  name="myForm" action="change_password">
                {% csrf_token %}
            <div class="panel-body">
                <label>Enter Old Password : </label>
                <input type="password" name="old" class="form-control" required="required" />
                <label>Enter New Password :  </label>
                <input type="password" name="newpassword" class="form-control" required="required"/>
                <!-- <label>Re-type New Password : </label>
                <input type="password" name="confirmnewpassword" class="form-control" required="required"/> -->
                <hr />
                <button type="submit" class="btn btn-success" name="submit"><span class="glyphicon glyphicon-envelope"></span> Save </button>&nbsp;
            </div>
           </form>
        </div>
             </div>
            
        </div>

    </div>
</div>
</div>
{% include 'user/u_footer.html' %}