{% include 'user/u_header.html' %}
{% include 'user/sidebar.html' %}
         
<div class="col-md-8">
    <div class="panel panel-success">
                        <div class="panel-heading"><b>
                         Scheduled   Bus List</b>  
                        </div>
                     
                                   </div>             
                            <!-- div.table-responsive -->

                            <!-- div.dataTables_borderWrap -->
                            <div>
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sl No</th>
                                            <th>Bus No</th>
                                            <th>Source</th>
                                            <th>Destination</th>
                                            <th>Departure Time</th>
                                            <th>Arrival time</th>
                                            
                                        </tr>
                                    </thead>
                                    {% for i in x %} 
                                    <tbody>
                                        <tr>
                                            <td>{{forloop.counter}}</td>                                                                      
                                            <td>{{ i.bus_no }}</td> 
                                            <td>{{i.Source}}</td> 
                                            <td>{{i.Destination}}</td> 
                                            <td>{{i.Start_time}}</td> 
                                            <td>{{i.End_time}}</td> 

                                        </td>
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                    </table></div></div></div></div>
                                    </div></div></div></div>



            {% include 'user/u_footer.html' %}

