{% include 'user/u_header.html' %}
{% include 'user/sidebar.html' %}

<div class="col-md-8">
    <div class="panel panel-success">
                        <div class="panel-heading"><b>
                           Complaint Replay</b>  
                        </div></div>
                        <table id="example1" class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Sl No</th>
                                                            <th>Complaint Subject</th>
                                                            <th>Complaint Discription</th>
                                                            <th>Complaint Replay</th>	
                                                            
                                                            
                                                            
                                                        </tr>
                                                    </thead>
                
                                                    <tbody>
                                                        {% for i in complaint %} 
                                                        <tr>
                                                                <td>{{forloop.counter}}</td>                                                                      
                                                                <td>{{i.subject}}</td> 
                                                                <td>{{i.description}}</td> 
                                                                <td>{{i.complaint_replay}}</td> 
                                                            </td>
                                                            {% endfor %}
                                                        </tr>
                                                        </tbody>
                                                        </table>
                                                        </div></div></div></div>
                


{% include 'user/u_footer.html' %}
